<div class="card">
    <div class="card-header text-center">SOMERSET COUNTY PLANNING BOARD</div>
    <div class="card-Body">
        <div>
            <p>
                The Somerset County Land Development Review Resolution requires
                that certain proposed land development proposals be submitted to the
                Somerset County Planning Board for review and, where required,
                approval. Land development activities subject to County Planning
                Board approval include:
            </p>
            <ul>
                <li>
                    All subdivisions and resubdivisions of land within Somerset County.
                </li>
                <li>
                    All site plans for land development
                </li>
                <li>
                    Change of Use applications
                </li>
            </ul>
            <p>
                This application form shall be completed by the applicant, or the
                applicant’s designated agent and submitted with all required
                documents to the Somerset County Planning Board. This application
                consists of three (3) parts, each of which shall be completed as
                indicated.
            </p>
        </div>
        
    </div>
</div>